[submodule "third_party/ios-cmake"]
	path = third_party/ios-cmake
	url = https://github.com/Yangqing/ios-cmake.git
[submodule "third_party/android-cmake"]
	path = third_party/android-cmake
	url = https://github.com/solrex/android-cmake.git
